@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
* {
    font-family: 'MedievalSharp', cursive;
    color: white;
}
body {
    background-color: #222;
}
header {
    display: grid;
    grid-template: "a b c d e";
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background-color: #888;
}
header div a {
    font-size: 2.5em;
    text-decoration: none;
}
header div a:hover {
    text-decoration: underline;
}
#header-link-home::after { content: "Accueil"; }
#header-link-society::after { content: "La société"; }
#header-link-buy::after { content: "Acheter nos produits"; }
#header-link-contact::after { content: "Nous contacter"; }
@media screen and (max-width: 1300px) {
    #header-link-home::after { content: "🏠"; }
    #header-link-society::after { content: "🏢"; }
    #header-link-buy::after { content: "💳"; }
    #header-link-contact::after { content: "☎️"; }
}

article {
    text-align: center;
}